---
import { aboutData } from '../data/About.ts';

---

<div class="bg-textGray pt-[15rem] ">
    {aboutData.map((data) => (
       <div class='p-10' style={`background-color: ${data.back}; color: ${data.color};`}>
         <div class="grid grid-cols-4  gap-10 pt-2">
             <h2 class="text-xl font-semibold col-span-2 ">{data.title}</h2>
             <div class="col-span-2">
               <img src={data.imgUrl} alt={`Pickture about ${data.title}`} class=""/>
               <div class="w-16 border-2 backArrow border-textGray rounded-3xl flex items-center justify-center px-4 py-2">
                <img src="/svg/Arrow.svg" alt="Arrow to right" class='fill-red'/>
              </div>
             </div>
             <p class="text-xs hidden">{data.description}</p>
         </div>
       </div>
    ))}
</div>