---
import { aboutData } from '@/data/About';
import { ArrButtons } from './ArrButtons';
---

<div class='bg-textGray relative'>
  <div class='absolute -top-10 left-0 px-10 flex justify-between w-full'>
    <h3 class='text-base mid:text-xl md:text-2xl text-textGray'>News</h3>
    <h3 class='hidden lg:block text-2xl text-textGray'>News</h3>
  </div>
  {
    aboutData.map((data) => (
      <a href={data.href}  class='cursor-pointer group'>
        <div
          class={`py-4 relative before:absolute before:top-0 before:right-0 before:h-full ${data.effectBack} before:transition-[width] before:duration-300 before:ease-in-out before:w-9 scroll-effect`}
          id={`about-${data.title}`}
        >
          <div class='max-w-screen-2xl mx-auto relative px-10 3xl:px-0'>
            <div class='flex items-center gap-2 mid:gap-6'>
              <div class='font-bold col-span-2 row-span-4 flex items-start'>
                <h2 class='mid:text-xl md:text-2xl xl:text-3xl font-bold flex items-center relative z-10 h-20 transition-colors duration-300'>
                  {data.title}
                </h2>
              </div>
              <img
                src={data.imgUrl}
                alt={`Picture about ${data.title}`}
                class='w-24 md:w-32 blog-image transition-all duration-500 ease-out hidden mid2:block'
              />
              <div>
                <ArrButtons
                  whitch={data.arrowName}
                  myClass='scale-75 md:scale-100'
                />
              </div>
            </div>
          </div>
        </div>
      </a>
    ))
  }
</div>

<script define:vars={{ aboutData }}>

  aboutData.forEach((data) => {
    const element = document.getElementById(`about-${data.title}`);
    if (element) {
      Object.assign(element.style);
    }
  });

  window.addEventListener('resize', () => {
    aboutData.forEach((data) => {
      const element = document.getElementById(`about-${data.title}`);
      if (element) {
        Object.assign(element.style);
      }
    });
  });

  const observerOptions = {
    root: null,
    rootMargin: '0px',
    threshold: 0.3,
  };

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const element = entry.target;
      const img = element.querySelector('.blog-image');
      const textElements = element.querySelectorAll('h2, p');

      if (entry.isIntersecting) {
        element.classList.add('scroll-active');
        img?.classList.add('image-visible');
        textElements.forEach((el) => (el.style.color = '#ededed'));
      } else {
        element.classList.remove('scroll-active');
        img?.classList.remove('image-visible');
        textElements.forEach((el) => (el.style.color = ''));
      }
    });
  }, observerOptions);

  // Observar todos los elementos con la clase scroll-effect
  document.querySelectorAll('.scroll-effect').forEach((element) => {
    observer.observe(element);
  });
</script>

<style>
  .blog-image {
    opacity: 0;
    transform: translateY(2.5rem);
  }

  .scroll-effect::before {
    transition: width 0.3s ease-in-out !important;
  }

  .scroll-active::before {
    width: 100% !important;
  }

  /* .scroll-active * {
    color: #ededed !important;
  } */

  .image-visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
</style>